<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>charlie's world</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Belanosima&family=Kalam&family=Monomaniac+One&family=Pacifico&family=Playfair+Display+SC&family=Tangerine&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<script src="https://kit.fontawesome.com/abb5e70d30.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="static/css/style.css">
</head>

  <body>

<!-- the top most contact navbar-->
   <section id="top-navbar">
     <div class="first-navbar">
       <nav>
         <ul>
           <li><a href="https://instagram.com/kull_zii"><i class="fa-brands fa-instagram" style="color: #000000;"></i></a></li>
           <li><a href="https://tiktok.com/@kul_zi"><i class="fa-brands fa-tiktok" style="color: #000000;"></i></a></li>
           <li><a href="https://twitter.com/@kull_zii"><i class="fa-brands fa-twitter" style="color: #080808;"></i></a></li>
           <li><a href="tel:204-922-3027"><i class="fa-solid fa-phone" style="color: #050505;"></i></a></li>
           <li><a href="mailto:charlesadamu.ku@gmail.com"><i class="fa-solid fa-envelope" style="color: #000000;"></i></a></li>
         </ul>
       </nav>

     </div>
   </section>
<!--the navbar beneath the contact navbar-->
<section id="navigation-bar">
  <nav class="navbar navbar-expand-lg navbar-light">
     <div class="container-fluid">
       <a class="world">charlie<span class="apostrophe">'</span>s world</a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav">
           <li class="nav-item">
             <a class="nav-link" href="{{url_for('home')}}">home</a>
           </li>
           <li class="nav-item">
             <a class="nav-link"  href="{{url_for('poems')}}">poems</a>
           </li>
           <li class="nav-item">
             <a class="nav-link"  href="{{url_for('stories')}}">stories</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="{{url_for('chapters')}}">novel</a>
           </li>
           <li class="nav-item">
             <a class="nav-link active" aria-current="page" href="{{url_for('articles')}}">articles</a>
           </li>
           <!-- <li class="nav-item">
             <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
           </li> -->
         </ul>
       </div>
     </div>
   </nav>
</section>
<!--beneath subscription-->
<div class="each-story">
  <h1>Coming soon...</h1>
  Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
<div class="read-more">
  <a href="{{url_for('article1')}}" class="read-more">read more...</a>
</div>
</div>


</div>
<section id="beneath-home">
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <button type="button" name="button" class="bottom-button"><a href="{{url_for('poems')}}">...read a poem?</a></button>
    </div>
    <div class="carousel-item">
      <button type="button" name="button" class="bottom-button"><a href="{{url_for('chapters')}}">...continue on my novel: the denims?</a></button>
    </div>
    <div class="carousel-item">
      <button type="button" name="button" class="bottom-button"><a href="{{url_for('articles')}}">...or maybe read an artcile?</a></button>
    </div>
    <div class="carousel-item">
      <button type="button" name="button" class="bottom-button"><a href="{{url_for('stories')}}">...perhaps in the mood for some short stories?</a></button>
    </div>
    <div class="carousel-item subscribe">
      <button type="button" name="button" class="bottom-button"><a href="{{url_for('subscribe')}}">...or maybe subscribe to my newsletter to stay updated</a></button>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</section>


<script type="text/javascript" src="myscripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
  </body>
</html>
