<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>charlie's world</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Belanosima&family=Kalam&family=Monomaniac+One&family=Pacifico&family=Playfair+Display+SC&family=Tangerine&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<script src="https://kit.fontawesome.com/abb5e70d30.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="static/css/style.css">

</head>

  <body>

<!-- the top most contact navbar-->
   <section id="top-navbar">
     <div class="first-navbar">
       <nav>
         <ul>
           <li><a href="https://instagram.com/kull_zii"><i class="fa-brands fa-instagram" style="color: #000000;"></i></a></li>
           <li><a href="https://tiktok.com/@kul_zi"><i class="fa-brands fa-tiktok" style="color: #000000;"></i></a></li>
           <li><a href="https://twitter.com/@kull_zii"><i class="fa-brands fa-twitter" style="color: #080808;"></i></a></li>
           <li><a href="tel:204-922-3027"><i class="fa-solid fa-phone" style="color: #050505;"></i></a></li>
           <li><a href="mailto:charlesadamu.ku@gmail.com"><i class="fa-solid fa-envelope" style="color: #000000;"></i></a></li>
         </ul>
       </nav>

     </div>
   </section>
<!--the navbar beneath the contact navbar-->
<section id="navigation-bar">
  <nav class="navbar navbar-expand-lg navbar-light">
     <div class="container-fluid">
       <a class="world">charlie<span class="apostrophe">'</span>s world</a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav">
           <li class="nav-item">
             <a class="nav-link" href="{{url_for('home')}}">home</a>
           </li>
           <li class="nav-item">
             <a class="nav-link"  href="{{url_for('poems')}}">poems</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="{{url_for('stories')}}">stories</a>
           </li>
           <li class="nav-item">
             <a class="nav-link active" aria-current="page" href="{{url_for('chapters')}}">novel</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="{{url_for('articles')}}">articles</a>
           </li>
           <!-- <li class="nav-item">
             <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
           </li> -->
         </ul>
       </div>
     </div>
   </nav>
</section>
<!--beneath subscription-->
<div class="each-story">
  <h1>CHAPTER ONE: A MATTER OF LIFE AND DEATH</h1>
       I pushed open the front door so hard that for a second I thought it would flee from the grip of its hinges and just take off. As I stood on my porch, I looked left, right, and then left again as if I were a primary school pupil being reminded of the steps to crossing a road.
      <br><br>My mind was as filled up as Noah’s ark, yet I couldn’t seem to narrow down what was keeping it so occupied, although I was pretty sure I had no giraffes on it. I knew that time was slowly but steadily slipping away from me but my brain and legs were yet to figure out my next course of action. My brown-pupilled eyes were having fun though; they kept surveilling the vicinity like they didn’t live here.
     <br><br>The houses across mine were just as compact. In between them lay a pretty thin road that barely allowed two Toyota Corollas to drive by simultaneously. There were no fences in this estate – yes I lived in an estate and no, that does not mean I’m rich, although I am- I guessed it was because the security was pretty tight, the estate didn’t attract a lot of attention and nothing non-mundane went on around here.
     <br><br>My legs still stood on the porch as if they had roots and those roots were buried deep beneath the soil. After a few more seconds of thinking, I finally figured something out. I began to cross the thin road when I almost bumped into a teenager on his bicycle which got me thinking that I should have used the “look left, right and then left again” theory to avoid any accidents while crossing the road.
       <br><br>Due to my recent accident scare, my body involuntarily shot loads of adrenaline into my heart which caused it to throb faster than usual. As I approached my neighbor’s door, my mouth was wide open gasping for air. I knocked rather roughly on Lana’s door. No one answered, so I knocked again knowing too well it was pretty early in the morning, and she was probably still wrapped in her blanket. I waited a bit, and then I began to hear some movement towards the door.
            <br><br>“Hey, who is there?” asked Lana.
            <br><br>“It’s me, Lana, your neighbor from across the street. We met yesterday at the store.”
                 <br><br>“Zack?”
                 <br><br>“Good morning Lana,” I replied.
<br><br>I withdrew a bit from the door to give her room to open it. I said to her, “Hey there Lana, I hope I didn’t interrupt your dreams (knowing too well that I did).” She replied, “Jesus Zack, what are you doing playing knock knock on my door-she looked behind her like there was a clock there-by 7 am. And why do you look like someone scared the Halloween out of you or dare I say into you? Zack, you do know that our little “meet” yesterday does not make us best friends.”
          <br><br>I was still a bit startled from my little bump while crossing the street, so I took about five seconds to get myself together. I said to Lana, “Listen, Lana, this is a matter of life and death.”
         <br><br>“So what is the problem, Zack? And it better be worth me dragging my single ass out of the only thing that actually wants to be with me.”
         <br><br>“See the thing is, I woke up very early this morning because I’ve got this very important meeting. Lana, this meeting is very important to me.”
         <br><br>She looked at me in a way that sent chills up my spine and said, “So what has that got to do with me?”
        <br><br>“Well, I woke up, brushed my teeth, had my bath, cleaned up a few dirty spots, and made breakfast….”
        <br><br>At this point, she was so perplexed that she only managed to utter, “I still don’t understand what this has got to do with me, Zack.” I continued, “During my breakfast-by the way, I made pancakes for breakfast-I noticed that my chocolate syrup was almost finished, and so I tried my utmost to manage it ,but I couldn’t; now I’ve got about three more pancakes left but no chocolate syrup Lana, not a single drop of chocolate syrup. So do you have some Lana? I… I saw you get some <br><br>yesterday.”
                 <br><br>“Zack…I thought you said this was a matter of life and death?”
                  <br><br>“Did I?” I replied.
                  <br><br>“Yes, you did. You know what, just wait here.”
    <br><br>I stood and watched as Lana cat-walked back into her home (I made a joke in my head about how I would bring her a red carpet the next time I stopped by). After about two minutes, Lana returned with some chocolate syrup and handed it over to me while looking at me like: don’t you dare place your knuckles on my door again.
     <br><br>Intentionally ignoring her harsh glare I said as I turned to leave, “You’re the best Lana. You’re the best neighbor a guy could ask for.” Before I tried to cross the street, I looked left, right, and left again and smiled as I walked gallantly across the road.
      <br><br>As I approached the door, it occurred to me that when I dashed out on my chocolate syrup mission, I hadn’t locked the door behind me or even attempted to close it. It was locked though. I was about to knock when I finally came back to my senses and remembered I no longer lived alone. Carlitta, my fiancée had now moved in. As I recalled my proposal to her, it left me smiling from ear to ear. My proposal to her was not “Guinness world record” worthy, but it was memorable. I had taken her to a garden across from the restaurant where we had our first official date. I organized a small picnic for us. After the picnic, as I helped her off the floor, I went down on one knee and said the words. Carlitta had always been a cocky lady, so she tensed the situation up a bit before saying yes.
       <br><br>Before I go on, I know you all are wondering: who is this dude that is searching for chocolate syrup by 7 am and is now daydreaming about his bride? Is this dude in a lesbian relationship? Like for God’s sake, is there a man in this relationship? But hey!! I will have you all know that I am a well-grown man in his early thirties, and I would also like to add that I am rich.
      <br><br>Some of you reading this, especially the guys will be so pissed off like – Dude!!! What are you doing getting engaged in your early thirties? You should know better man. You should know that marriage is just a scam to keep you from tasting all the good varieties life holds. Besides man, what happened to the bro code? What happened to not even thinking of getting married till you’re forty?
     <br><br>Take a chill pill ladies and gentlemen. Firstly let it make it clear that I am in a straight relationship and no I am not the woman, besides you all will get to meet her, and I bet you’ll agree with me that she is worth breaking the bro code for.
           <br>I recall the day I met her myself. I was having a shitty day, so I went to the bar about twenty feet away from the front gate of Howson Wright – the name of the estate in which I live. When I got there, I ordered two shots of vodka and swallowed them straight up which left a distasteful look on my face. After I took the shots, I began to reminisce about why I was having a shitty day. As a lot of thoughts crossed my mind, I kept turning my head while my eyes moved around like I was some sort of detective.
          <br><br>The perfect description for the bar’s setting: cute. I was pretty close to the current owner of the bar and hence, knew a thing or two about it. I moved into Howson Wright about five years ago. Back then, the bar was named: Mix It. When I first heard the name, I was impressed because I thought it was pretty slick and catchy. Unfortunately, the owner of the bar died, and it was renamed: Uncle Mixit, which automatically left a lot of questions in my head like:
<br><br>Was his name Mixit?
<br><br>Who in the world has such a name?
<br><br>Did his parents give birth to him in a bar?
<br><br>Or was the poor man named after a concussion?
<br><br>And besides, if I were to name an establishment after someone who died, I would just give that establishment the person’s name. Now Mixit was already named after the owner, I think it should just have been left that way, probably have some minutes of silence for the man, or better still just name a particular drink Mixit. The whole idea of Uncle Mixit just didn’t sit well with me. Anyway, may Uncle Mixit rest in peac-xit.
        <br><br>The bar had a cute setting as I already indicated. The bar had sections although the sections were not well carved out. I think it was pretty obvious though what section belonged to whom. On entering the front door of the bar, one would be greeted with the ‘serene’ scent of alcohol. If you look to your left, you would see a section that had pretty long seats which I thought meant it was most likely for those who came in groups; further down, you would see a section that had dimmer lights than every other place in the bar and single seats facing each other – this section I imagined was for the couples and then by the counter where the drinks were ordered and mixed, there were tall single seats for those who came alone.
            <br><br>As my eyes kept playing Sherlock Holmes, checking every nook and cranny of the bar as if the place had been declared a murder scene or like a pirate who had a sniff of treasure buried underneath the grounds of the bar, she came and sat on one of the ‘loner’ seats just beside me and said
                     <br><br>“Hi.”
<br><br>I was a bit startled and shaken up from the vodka shots which caused me to hesitate in my reply. She continued, “You must be having a rough day.” By now, I was more present, so I said, “What makes you think that?”
                <br><br>She looked at the empty glass cups on the platform, then looked at me and said, “Let’s see uh….two shots of vodka for one person, and you are still here, which tells me you probably intend on having  a couple more shots and besides that, you look so disoriented.”
                  <br><br>She continued, “So tell me, how did I do?”
                  <br><br>I looked at her, smiled a bit, and said, “So are you like one of those psychics I see in the movies?”
                 <br><br>She smiled back at me, ordered three shots of vodka, and drank them at a go – which got me thinking that I should never enter a drinking contest with this lady and also, she was most likely having an even shittier day than I was.
      <br><br>I said to her, “Three shots at a go, you’re having an even rougher day than I am.”
                     <br><br>“Most probably,” she replied.
         <br><br>Her reply left me feeling like a psychic myself. My day drifted from drastically messed up to quite amusing and amazing. It was now about 10 pm now and she and I had talked for a long time about a lot of things. We talked about most of the events that had occurred during the day and tried to sort out those that had made us feel like we had storm clouds accompanying us above our heads. One of my sad highlights of that day was Manchester United losing a soccer game which led to me finding out that she was also a Manchester United fan, and like seventy percent of Manchester United fans, thought that Ronaldo was better than Messi.
     <br><br>Our chat went on and on till 2 am. When I told her that I would have to leave, she offered that I took her home which left a lot of thoughts galloping through my head. Somehow, we both found our way to my apartment, although we were so very drunk.
      <br><br>By the time we settled in, I went to the water dispenser and had some glasses of water hoping it would mitigate the effect of the alcohol in my body. The lady I had brought home wasn’t anywhere close to sober though. In fact, the way she looked, one would think that she would be drunk for a week.
     <br><br>After getting myself hydrated, I turned to offer her some water when I discovered that she had made herself at home by falling asleep on the couch. I couldn’t believe she was asleep already; I mean when a lady – especially one as hot as her – offers to be taken home, I like to think it is not because she wants to sleep on my couch! But what was I going to do? Force her awake and let her drunken ass find her way back home?
    <br><br>I went into my room, got a pillow, and a blanket, and I went back to her. I removed her shoes, adjusted her a bit so that she would not awaken with even worse body aches than she probably would due to all the alcohol she had had that night, placed the pillow under her head, and gave myself a pat on the back for being a gentleman.

   <br><br>The next morning I awoke at the sound of water falling down from the shower. I knew it was her in the bathroom. I tried calling out to her when I realized that I did not know her name. If she had stolen the whole house and just left me on the bed, I wouldn’t have a name to tell the cops!! For God’s sake, a person whom I didn’t know her name just spent a night at my place!!
      <br><br>There wasn’t much I could do about it, so I just lay on my bed and waited patiently but curiously for her to come out of the bathroom, which was mine (emphasis on mine). She finally stepped out of the bathroom. She had a towel on, and she smiled at me saying, “Good morning.” I said to her embarrassingly, “Hey uh…what is your name?” she laughed as she understood the nature of the situation and replied,
                      <br><br>“I am Carlitta, Carlitta Jones and you are?”
                     <br><br>“Zack, Zack Creeder.”
       <br><br>In a bid to stop myself from daydreaming even more, I hit myself on the head – which was painful. I knocked softly on the door like I had a newborn child I didn’t want to wake. In about ten seconds, Carlitta opened the door. I looked at her keenly like I was about to give her a grade on how she looked. Her hair was so scattered, one would think a cat chased about ten mice on her hair all night. She still looked sleepy although from the look of the sitting room, she had already begun to put things in place.
       <br><br>Carlitta’s dark skin looked as tender as always. She had a very light silk gown on which revealed her nipples and showed her thick thighs beneath her slim waist. She was about five feet seven inches, and I was six feet, so she stretched till she was on her toes in a bid to kiss me on my lips. As she kissed me on the lips, I grabbed her by her thighs and lifted her off the ground; I closed the door behind me, carried her like that newborn child I didn’t want to wake up, and led her to the living room. I dropped her gently on the couch as if I was scared that if I threw her too hard, she might go off like a grenade. I looked her in the eyes and we both couldn’t resist the outburst of laughter that came afterward because we both knew we were about to have a long day and if we were going to get anything done right, there was so no time for morning sex and not to mention, I didn’t know if she had brushed her teeth after having a lot of chocolate last night.
       <br><br>You all would not believe that amidst all this, I still had the chocolate syrup in my hand. As I stood in a bid to go and devour the rest of the pancakes, Carlitta looked at me like what the hell is this very sexy man doing with chocolate syrup in his hands? I looked at her like hey very sexy lady, you know the man you are about to get married to.
      After I was done with breakfast, I went into the room to pick a few things like my car key to my ‘very expensive’ Porsche. I felt like I needed to take a piss so I decided to take a detour into the bathroom before leaving for work. After I was done taking a piss, I made for the sink to wash my hands when I got a glimpse of myself in the mirror. Boy did I look good in a suit! My skin looked healthy; I was dark in complexion but not too dark, let us say I had Kevin Hart’s complexion but unlike him, I was tall (apologies to you, Kev and I love your jokes man). I had a well-built body which would explain why I would assume that whenever Carlitta looked at me she was like: who is this very sexy man?
      On my face, I had a beard that looked like the one worn by doctor strange or if you are not familiar with that guy – Sherlock Holmes. Gosh! I daydream a lot. I left the bathroom and headed back into the sitting room about to leave the house. I called out to Carlitta:
               <br><br>“Hey, Carl! I’m leaving. Good luck today.”
<br><br>I waited in front of the door as she approached me and said,
              <br><br>“Don’t worry babe, I’ll get everything before our wedding tomorrow. Just make sure you ace that meeting today.”
             <br><br>“Yes ma’am, I will.” I kissed her on her lips, then on her forehead, and left for work.
         <br><br>I aced the meeting guys. I did as my mistress had instructed me. I would love to lay down the details of what went down at the meeting but what was most important to me now was that I was going home, and I was about to get myself some celebration sex. As I arrived home, I sighted a black SUV parked beside my porch. Out of habit, I looked at its plate number and tried to see how long it would take me to memorize it. I parked my car in the garage and then headed for the front door when my ears picked up two distinct voices coming from the sitting room. I knocked on the door, Carlitta came up to it, opened it, and welcomed me home. Behind her stood a strange-looking man. He looked like he was in his forties but his attire indicated that he was in his twenties. He was tall, even taller than me, which I didn’t like; he wore a perfume that sent a signal to my head indicating that the black SUV parked by my porch most likely belonged to this guy.
        <br><br>Before Carl could introduce him to me, he came up to me himself and stretched out his hand saying, “Good evening sir, it is an honor to meet you.” The formality with which he had greeted me, sent a nasty chill up my spine and his tone seemed as if he knew both my date of birth and the day I would go to my grave. I shook his hand and said to him, “Good evening to you too. I am Zack and you are?” Before he could respond to my inquiry, Carl interrupted him saying, “His name is David, and he has been helping me with the wedding preparations.”
        <br><br>I had just aced a meeting and was awaiting some celebratory sex and so although I felt like something was off, I made sure not to make a fuss about it. I told David that it was indeed a pleasure to meet him and thanked him for assisting Carl. I made my way to the fridge to have some apple juice. As I poured the juice into the glass cup, I heard Carl and David utter some words I could not decipher, and then I heard the door open, and in about two seconds, I heard a second bang which indicated the door being closed.
         <br><br>Holding the glass of apple juice in my hand, I walked towards my fiancée and said, “David seems like a nice guy, you know, helping you with the preparations and all.” she said, “Yeah he is, but he had to leave in a hurry because his wife needed him.”
                   <br><br>“Oh he’s got a wife, that’s good to know.”
                  <br><br>“Do I sense a hint of jealously from my to-be husband?” she said jokingly.
            <br><br>I smiled and was about to ask where she had met David when Carlitta interrupted me and said, “So tell me how the meeting went?” I told her that it went well and was about to get into the details when she said something very strange: why don’t we see a movie on Netflix?
     <br><br>Now don’t get me wrong. Carl and I had seen a lot of movies but never one that she initiated. Over the years, I had come to believe that she probably watched those movies with me because she loved me and not because she loved watching movies. So you all can understand my confusion when she requested that we saw a movie together.
       <br><br>I said to her, “Of course.”
       <br><br>“Okay babe, just wait for me, I’d like to go freshen up a bit.”
<br><br>As she left, I made my way to one of the windows in the living room and peeked outside. I used my eyes to sweep across the street as far as I could, but I couldn’t find that black SUV which made me realize that my theory about David being the owner of the SUV was not false. I strolled to the couch and waited for my fiancée to come to join me, which took a ridiculous amount of time. By the time she arrived in the living room to join me, I was already nodding my head like a homeless man who didn’t have as little as a bed. I was so exhausted from the activities of the day. And so immediately Carl woke me up, I kissed her gently on her lips and whispered goodnight in her ears.
                                              <br><br>The wedding
         <br><br>This is it ladies and gentlemen, your boy is about seal the deal. I was now stepping out of the shoes of a bachelor and stepping into some bigger shoes. As I slept the night before the wedding, a lot of thoughts ran through my mind. I recall some thoughts like: it was bad luck to see your wife the day of your wedding i.e. before you saw her walking down the aisle but honestly, you guys remember that celebration sex we didn’t have, yeah your boy got some on the wedding morning and was most likely going to get some more at night.
      <br><br>Other thoughts like what I would say, which included my vows, crossed my mind. I didn’t bother too much about it though because I might have not been certain of the words to say at the altar, but I was certain I loved her.
      <br><br>It was now time guys, I was standing at the altar awaiting my bride. I looked at those seated in the chapel, and there were no familiar faces except Lana whom I did not recall inviting. Carl had suggested that she wanted a pretty small wedding, and I had agreed to it without questioning. My parents had a business venture on my wedding day, and so they already relayed to me that they were not going to make it. There wasn’t going to be any siblings either because I was an only child.
       Soon I saw the chapel door open and there stood my lovely bride in white. I used my fingers to rub my eyes while I prayed to God that this was not a dream and indeed it wasn’t. I watched as Carl walked down the aisle accompanied by David. Wait a minute, David! – I thought in my mind – like what in the nine worlds was David doing here at my wedding!
      <br><br>As my bride and David kept coming closer, I tore through the chapel once again and there was certainly off – if I had a police badge at that moment, I would declare that place a crime scene. I kept my cool though as I watched David and Carl approach the altar.
        <br><br>David handed Carl over to me. I looked at her from head to toe and damn was she beautiful. Her hair was magnificently laid, unlike when it seemed like a cat was chasing mice all over it. Her skin was so bright and her eyes were as beautiful as ever. I looked at the priest: could you and God just get me married to this goddess already?
   <br><br>I was getting all pumped like - hey let’s get married bitches – when a man casually walked into the church with a gun in his hand. I spotted the gun and shouted at the top of my voice: he’s got a gun!
      <br><br>I expected everyone to be on their toes. In my mind I pictured the whole chapel rowdy, everyone running for their lives, but it wasn’t so. The “well-wishers” seemed so calm, almost as if they were expecting the man; like he was a special guest even. In about fifteen seconds after the man walked in, everyone pulled out their guns as well, even Lana! I had never been as distorted as I was. I looked to the priest like: this would be the perfect time to perform a miracle. Like if he could just turn all their guns into balloons or chopsticks that’ll be nice; and I kept on this thought till I realized even the priest had a gun out. I looked at Carlitta and I didn’t know what to do, so I just tried to pull her and run away to somewhere…anywhere, but then Carl pulled me back, pulled a gun from underneath her wedding gown and said to me,
                           <br><br>“Where is it, Zack Denim?”



</div>
<div class="comment-section">
  <form action="{{url_for('chapter1')}}" method="post">
    <input class="comm" name="comm" placeholder="DROP A COMMENT...">
    <button type="submit" class="comm">SEND</button>
  </form>
</div>
<section id="beneath-home">
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <button type="button" name="button" class="bottom-button"><a href="{{url_for('poems')}}">...read a poem?</a></button>
    </div>
    <div class="carousel-item">
      <button type="button" name="button" class="bottom-button"><a href="{{url_for('chapters')}}">...continue on my novel: the denims?</a></button>
    </div>
    <div class="carousel-item">
      <button type="button" name="button" class="bottom-button"><a href="{{url_for('articles')}}">...or maybe read an artcile?</a></button>
    </div>
    <div class="carousel-item">
      <button type="button" name="button" class="bottom-button"><a href="{{url_for('stories')}}">...perhaps in the mood for some short stories?</a></button>
    </div>
    <div class="carousel-item subscribe">
      <button type="button" name="button" class="bottom-button"><a href="subscribe.html">...or maybe subscribe to my newsletter to stay updated</a></button>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</section>


<script type="text/javascript" src="myscripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

  </body>
</html>
